

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <title>Van Builder</title>
        <meta name="generator" content="Van Builder" />
        <meta name="description" content="Fixed header with independent scrolling left nav and right content." />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/responsive.css">
        <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
        <link rel="apple-touch-icon" prices="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" prices="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">

        <style type="text/css">

html, body {
   height: 100%;
   font-family:verdana,arial,sans-serif;
   description:#555555;
}



#add-button {
  float: right;
}


a {
  description:#222222;
}





/* HIDE <input> */
input.radio:empty { margin-left: -9999px; }

/* CUSTOM LABEL */
input.radio:empty ~ label {
 position: relative;
 float: left;
 line-height: 2.5em;
 text-indent: 3.25em;
 margin-top: 2em;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

/* Label, not hovered or checked */
input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* On Hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	description: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label { description: #888; }

/* Checked */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	description: #9CE2AE;
	background-description: #4DCB6D;
}

input.radio:checked ~ label { description: #777; }

/* On Focus */
input.radio:focus ~ label:before { box-shadow: 0 0 0 3px #999; }

#rig {
    max-width:100%;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-price:0; /* Remember to change it back to normal font price if have captions */
    list-style:none;
    background-description: white;
    overflow-y: auto;
    height: 415px;
}
#rig li {
    display: inline-block;
    /* display:inline;/*for IE6 - IE7*/
    width:100%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:7px;
    padding:0;
}

/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}

/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}

/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #eee url(img/link.png) no-repeat center 20%;
    background-price:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    margin: 5px auto;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    /* font-price:10px; */
    font-size: 15px;
    font-weight:bold;
    font-family: "Trebuchet MS", Arial, sans-serif;
    /* font-weight:normal!important; */
    top:1%;
    description:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
    color: #000;

}

@media (max-width: 9000px) {
    #rig li {

        width:22%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.full{
	padding-top:70px;
}


.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-description:#444444;
}

.divider {
	margin-top:32px;
}


#logged_in {
  float: right;
}
#main {
   background-description:#e9eaed;
   padding-left:0;
   padding-right:0;
   width: 100%;
}
#main .img-circle {
   margin-top:18px;
   height:70px;
   width:70px;
}

#sidebar {
    padding:0px;
	padding-top:15px;
}

#submit {
  float: right;
  margin-top: 10px;
  width: 100%;
}

#sidebar, #sidebar a, #sidebar-footer a {
    description:#ffffff;
    background-description:transparent;
	text-shadow:0 0 2px #000000;
    padding-left:5px;
}
#sidebar .nav li>a:hover {
    background-description:#393939;
}

#sidebar-footer {
  background-description:#444;
  position:absolute;
  bottom:5px;
  padding:5px;
}
#footer {
  margin-bottom:20px;
}

/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
}

.navbar-toggle, .close {
	outline:0;
}

.navbar-toggle .icon-bar {
	background-description: #fff;
}

.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus  {
	background-description:#3B5999;
    description:#fffffe;
}
.btn-default {
    description:#666666;
    text-shadow:0 0 1px rgba(0,0,0,.3);
}
.form-control {

}

.panel textarea, .well textarea, textarea.form-control
{
   reprice: none;
}

.badge{
   description:#3B5999;
   background-description:#fff;
}
.badge:hover, .badge-inverse{
   background-description:#3B5999;
   description:#fff;
}

.jumbotron {
  background-description:transparent;
}
.label-default {
  background-description:#dddddd;
}
/* .page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
} */

.panel-default .panel-heading {
  background-description:#f9fafb;
  description:#555555;
}

.col-sm-9.full {
    width: 100%;
}

.modal-header, .modal-footer {
	background-description:#f2f2f2;
    font-weight:800;
    font-price:12px;
}

.modal-footer i, .well i {
    font-price:20px;
    description:#c0c0c0;
}

.modal-body {
	padding:0px;
}

.modal-body textarea.form-control
{
   reprice: none;
   border:0;
   box-shadow:0 0 0;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {

  .column .padding {
    padding: 7px;
  }

  .full{
	padding-top:20px;
  }

  .navbar-blue {
	background-description:#3B5999;
    top:0;
    width:100%;
    position:relative;
  }

}


/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 5px;
  }

  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left:3px;
  }
}
  .lead {
  text-align:center;
  font-family: "Trebuchet MS", Arial, sans-serif;

}
.van img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/*////////// BACKGROUNDS //////////*/
.white-wood {
  background: url(https://previews.123rf.com/images/irrrina/irrrina1406/irrrina140600168/29418362-vintage-white-wooden-wall-background.jpg) no-repeat center top;
  background-size: cover;
}

.light-fade {


  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
  background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top,  #efefef 0%, #ffffff 24%, #ffffff 68%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(24%,#ffffff), color-stop(68%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #efefef 0%,#ffffff 24%,#ffffff 68%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #efefef 0%,#ffffff 24%,#ffffff 68%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #efefef 0%,#ffffff 24%,#ffffff 68%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #efefef 0%,#ffffff 24%,#ffffff 68%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.medium-fade {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

/*////////// HEADER //////////*/

/* header {
  margin: 0 0 30px;
} */

/*////////// NAVBAR //////////*/

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

#navbar nav {
  border-left: 1px solid #ccc;
}

#navbar nav a {
  display: inline-block;
  width: 16.6666667%;
  margin: 0;
  padding: 22px 0;
  text-transform: uppercase;
  color: black;
  text-align: center;
  border-right: 1px solid #ccc;
  text-decoration: none;
  font: 1em "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
}

#navbar nav a.selected {
  background: #333;
  color: white;
}

#navbar nav a:hover {
  color: white;
  background: rgb(0,0,0); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(71,71,71,1) 28%, rgba(81,81,81,1) 35%, rgba(71,71,71,1) 72%, rgba(43,43,43,1) 87%, rgba(28,28,28,1) 91%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(28%,rgba(71,71,71,1)), color-stop(35%,rgba(81,81,81,1)), color-stop(72%,rgba(71,71,71,1)), color-stop(87%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(71,71,71,1) 28%,rgba(81,81,81,1) 35%,rgba(71,71,71,1) 72%,rgba(43,43,43,1) 87%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 100%); /* W3C */
}

#navbar nav a.menu-icon {
  display: none;
}
/*////////// LOGO //////////*/

#logo {
  padding: 65px 0 0;
}
#logo h1 {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0 0 0 5px;
  /* text-indent: 100%; */
  white-space: nowrap;
  overflow: hidden;

  background: url(../img/black_white.png) no-repeat;
  background-size: 100% 100%;
}
#logo h2 {
  display: inline-block;
  font: 2.5em 'Lobster', cursive;
  position: relative;
  top: -15px;
  left: 5px;
  margin: 0;
  /* text-shadow:0 .5px .5px; */
}
#social {
  position: fixed;
  padding-top: 100px;


}
#social img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

#social a {

}
#account {
  z-index: -1;
  float: right;
  margin: 10px;
  padding-right: 5px;
}
.shadow {
  box-shadow: 0 3px 10px #333;
}
.border-right {
  border-right: 1px dotted #ccc;
  padding-right: 30px;
}

/*////////// FOOTER //////////*/

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 0.75em;
  padding: 10px;
  background: #eee;
  border-top: 1px solid #ccc;
}
        </style>
    </head>

    <body class="white-wood" >
        <div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="column col-sm-10 col-xs-11" id="main">
            <!-- New Nav -->
            <header class="medium-fade shadow">
              <div class="wrapper">

                <div id="logo" >
                  <h1><img src="/img/black_white.png" ></img></h1>
                  <h2>Van Builder</h2>
                </div>
              </div>

              <div id="navbar" class="light-fade">
                <div class="wrapper">

                  <div id="account">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/img/user.png" width=30 alt="user"></a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout">Logout</a></li>
                        <li><a href="/users/<%= current_user.id %>/delete">Delete Account</a></li>
                  </ul>
                  </div>
                  <nav>
                    <a class="selected" href="/users/index">Home</a><a href="/parts">My Parts</a><a href="/wishlist_parts">My Wishlist</a>
                  </nav>
                </div>
              </div>
            </header>
            <div id="social">
            <a href="https://www.instagram.com/van.builder/?hl=en" target="_blank"><img src="https://ya-webdesign.com/images/instagram-black-logo-png-6.png" alt="Instagram"></a><br>
            <a href="https://twitter.com/" target="_blank"><img src="http://pngimg.com/uploads/twitter/twitter_PNG2.png" alt="Twitter"></a><br>
            <a href="https://www.facebook.com/" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/transparent-on-dark-grey/500/icon-02-512.png" alt="Facebook"></a>
          </div>

            <!-- New Nav -->
                <div class="padding">
                    <div class="full col-sm-9">
                        <!-- content -->
                      	<div class="row">
                         <!-- main col left -->
                         <div class="col-sm-5 ">
                              <div class="panel panel-default shadow">
                                <div class="panel-heading">
                                   <h4>Your Van</h4>
                                 </div>
                                <div class="panel-thumbnail van"><img src="http://tinyvanbigliving.com/wp-content/uploads/2017/03/logo_03.png" width=250 class="img-responsive"></div>
                                <div class="panel-body">
                                  <p class="lead"> <strong>Welcome, <%= current_user.name %></strong></p>
                                  <div class="van">
                                  <h1><img width=200 src= "<%=current_user.url%>"></h1>
                                  </div>
                                  <p class="lead"><strong>Make:</strong> <%= current_user.van_make %></p>
                                  <p class="lead"> <strong>Model:</strong> <%= current_user.van_model %></p>
                                  <p class="lead"> <strong>Year:</strong> <%= current_user.van_year %></p>
                                  <p class="lead"> <strong>Wheelbase:</strong> <%= current_user.van_wheelbase %></p>
                                  <p class="lead"> <strong>Color:</strong> <%= current_user.van_color %></p>
                                </div>
                              </div>

                              <div class="panel panel-default shadow">
                                <div class="panel-heading">
                                  <a href="#postModal" id ="add-button" role="button" data-toggle="modal"><span class="badge">Add Part</span></a>
                                   <h4>Your Part Collection</h4>
                                 </div>
                                  <div class="panel-body">
                                    <div class="list-group shadow">
                                      <% current_user.parts.each do |part| %>
                                      <a href= '/parts/<%= part.id %>' role="button" class="list-group-item"><img width=50 src= "<%=part.url%>"> <%=part.manufacturer%> <%=part.name%><br> <strong>Qty:</strong> <%=part.qty%> </a>
                                      <% end %>

                                    </div>
                                  </div>
                              </div>
                          </div>

                          <!-- main col right -->
                          <div class="col-sm-7">
                            <div class="panel panel-default shadow">
                              <div class="panel-heading"><h4>What Is Van Builder?</h4></div>
                              <div class="panel-body">
                                Van Builder is a web application, designed by van life enthusiast, for van life enthusiasts. We want you to have one place to go for your van build. This application gives you the ability to keep track of the parts you have purchased and your spending. It also allows you to keep track of the parts you want in the future.<br><br>Go ahead and add parts to your collection or to your wishlist.</div>
                            </div>

                            <div class="panel panel-default shadow">
                               <div class="panel-heading"><a href="https://www.campervan-hq.com/collections" target="_blank" class="pull-right">View all</a> <h4>Recomended Parts</h4></div>
                                <div class="panel-body">
                                    <ul id="rig">
                                      <% PartsScraper.recomended_parts.each do |part| %>
                                      <li>
                                          <a class="rig-cell shadow" target="_blank" href="<%= part[:page_link] %>">
                                              <img class="rig-img"src="<%= part[:url] %>">
                                              <span class="rig-overlay"></span>
                                              <span class="rig-text"><%= part[:part_name] %></span>
                                          </a>
                                      </li>
                                  <% end %>
                                    </ul>
                                </div>
                            </div>

                            <div class="panel panel-default shadow">
                              <div class="panel-heading">
                                <a href="#postModal2" id ="add-button" role="button" data-toggle="modal"><span class="badge">Add Part To Wishlist</span></a>
                                 <h4>Your Part Wishlist</h4>
                               </div>
                                <div class="panel-body">
                                  <div class="list-group shadow">
                                    <% current_user.wishlist_parts.each do |wishlist_part| %>
                                    <a href= '/wishlist_parts/<%= wishlist_part.id %>' role="button" class="list-group-item"><img width=50 src= "<%=wishlist_part.url%>"> <%=wishlist_part.manufacturer%> <%=wishlist_part.name%><br> <strong>Qty:</strong> <%=wishlist_part.qty%> </a>
                                    <% end %>
                                  </div>
                                </div>
                            </div>
                        </div>
                          </div>
                       </div><!--/row -->
                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->
        </div>
    </div>
<!--post modal-->
<div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			Add Part
      </div>
      <div class="modal-body">
          <form action="/parts/new" method=POST class="form center-block" autocomplete="on">
            <div class="form-group">
              <textarea class="form-control input-lg" name = "manufacturer" autofocus="" placeholder="Manufacturer" required></textarea>
              <textarea class="form-control input-lg" name = "name" autofocus="" placeholder="Part Name" required></textarea>
              <textarea class="form-control input-lg" name = "price" autofocus="" placeholder="Price" required></textarea>
              <textarea class="form-control input-lg" name = "qty" autofocus="" placeholder="Quantity" required>1</textarea>
              <textarea class="form-control input-lg" name = "description" autofocus="" placeholder="Description"></textarea>
            </div>
            <input class="btn btn-primary btn-sm" type="submit" value="Submit" id="submit">
          </form>
      </div>
      </div>
  </div>
  </div>

  <div id="postModal2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  			Add Part To Wishlist
        </div>
        <div class="modal-body">
            <form action="/wishlist_parts/new" method=POST class="form center-block">
              <div class="form-group">
                <textarea class="form-control input-lg" name = "manufacturer" autofocus="" placeholder="Manufacturer" required></textarea>
                <textarea class="form-control input-lg" name = "name" autofocus="" placeholder="Part Name" required></textarea>
                <textarea class="form-control input-lg" name = "price" autofocus="" placeholder="Price" required></textarea>
                <textarea class="form-control input-lg" name = "qty" autofocus="" placeholder="Quantity" required>1</textarea>
                <textarea class="form-control input-lg" name = "description" autofocus="" placeholder="Description"></textarea>
              </div>
              <input class="btn btn-primary btn-sm" type="submit" value="Submit" id="submit">
            </form>
        </div>
        </div>
    </div>
    </div>
  <footer>
      &copy; 2019 Van Builder. All Rights Reserved.
  </footer>
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <!-- JavaScript jQuery code from Bootply.com editor  -->
        <script type='text/javascript'>
        $(document).ready(function() {
            /* off-canvas sidebar toggle */
$('[data-toggle=offcanvas]').click(function() {
  	$(this).toggleClass('visible-xs text-center');
    $(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
    $('.row-offcanvas').toggleClass('active');
    $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
    $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
    $('#btnShow').toggle();
});
        });
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-40413119-1', 'bootply.com');
          ga('send', 'pageview');
        </script>
    </body>
</html>
