<head>
  <link rel="stylesheet" href="/css/individual_part.css">
</head>
<header>
  <div id="navbar" class="light-fade">
    <div class="wrapper">

      <div id="account">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/img/user.png" width=30 alt="user"></a>
        <ul class="dropdown-menu">
            <li><a href="/logout">Logout</a></li>
            <li><a href="/users/<%= current_user.id %>/delete">Delete Account</a></li>
      </ul>
      </div>
      <nav>
        <a href="/users/index">Home</a><a href="/parts">My Parts</a><a href="/wishlist_parts">My Wishlist</a><a href="/posts">My Blog</a><a href="/news_feeds">News Feed</a>
      </nav>
    </div>
  </div>
  </header>
  <body>
<form class="shadow">
  <div id="contact"
    <h2><strong><%= @part.manufacturer %> <%= @part.name %></strong> </h2>
    <h4><%= @part.description %><br></h4>
    <h2><strong>Quantity:</strong> <%= @part.qty %><br></h2>
    <img src="<%= @part.url %>"></img><br>
    <h2><strong>Unit Price: </strong>$<%= amount(@part.price) %></h2>
    <h2><strong>Total Price: </strong>$<%= amount((@part.price * @part.qty)) %> </h2><br>
    <a href="/parts/<%= @part.id %>/edit">Edit</a>
    &nbsp; | &nbsp;
    <a href="/parts/<%= @part.id %>/delete">Delete</a>
  </div>
</form>
</body>
<footer>
    &copy; 2019 Van Builder. All Rights Reserved.
</footer>
